#root {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;

}

body {
    background: linear-gradient(to bottom, #140c13, #211222);
    background-attachment: fixed;
    color: white;
    padding: 0 20%;
}

